* {
    margin: 0;
    padding: 0;
    ;
}

body {
    font-family: tahoma;
}

/* ==========design part=========== */

ul {
    display: flex;
    background-color: rgb(10, 172, 118);
    padding: 0 100px;
    height: 100px;
    justify-content: flex-end;
    align-items: center
}

ul li {
    list-style: none;
    margin-right: 20px;

}

ul li a {
    color: #fff;
    text-decoration: none;


}

/* =============Posts============ */
.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.post {
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}

/*============ photos ============= */
.img-width {
    width: 300px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.photo {
    border: 2px solid goldenrod;
    border-radius: 15px;
    /* background-color: rgba(165, 42, 42, 0.751); */
    color: #fff;
    padding: 10px;
    margin: 5px;
}

/* =========comments========== */

.comments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.comment {
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}

/* albums */
.albums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.album {
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}

/* ================todos=========== */
.todos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.todo{
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}

/* ==============users============== */
.users{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.user{
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: rgb(10, 172, 118);
    color: #fff;
    padding: 10px;
    margin: 5px;
}